<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="MenuMapper">
	<select id="selMenu" resultType="Map">
		SELECT MENU_ID         -- 메뉴 ID
		     , PARENT_MENU_ID  -- 상위 메뉴 ID
		     , MENU_NM         -- 메뉴명
		     , MENU_ADDR       -- 메뉴주소
		  FROM C##ECODEV.COMM_MENU_MST
		 ORDER BY MENU_ID
	</select>
</mapper>